.tabwrap > div {
  padding: 0px !important;
}
.MuiList-root {
  max-width: 100% !important;
}
.rdrCalendarWrapper,
.rdrMonth {
  width: 100% !important;
}
.cashsalewarp .MuiOutlinedInput-input {
  padding: 10px !important;
}
.cashsalewarp .MuiSvgIcon-root {
  margin: 7px;
  margin-left: 0px;
}
.count-form input {
  padding-top: 8px;
  padding-bottom: 12px;
}
